div{
  width: 75%;
  margin: 10vh auto;
  border: solid 1px;
  padding: 5vh;
}

h1{
  margin-top: 0;
}

label{
  display: block;
}

.full-width{
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

input:focus, textarea:focus {
  border-color: RoyalBlue;
}

input:invalid, select:invalid, textarea:invalid {
  border-color: red;
}

input:valid, select:valid, textarea:valid {
  border-color: green;
}

button:hover {
  background-color: RoyalBlue;
}

.radio-group label{
  display: inline;
}

.radio-group input[type="radio"]:checked {
  border-color: RoyalBlue;
  background-color: RoyalBlue;
  box-shadow: inset 0 0 0 1px RoyalBlue;
}

.radio-group input[type="radio"]:checked + label {
  color: RoyalBlue;
}

input:first-of-type{
  border-radius: 5px;
}

/*Due to problems with my computer, I am forced to leave the code in its minimum functional version. I apologize for any inconvenience.*/

