:root {
  --cnn-red: #cc0000;
  --cnn-black: #000000;
  --cnn-dark-gray: #282828;
  --cnn-light-gray: #464646;
}

* {
  margin: 0;
  padding: 0;
}

.padding {
  padding: 5%;
}
.newspaper-layout {
  display: grid;
  grid-template-areas: 
  "title title title"
  "feature-article feature-article cover-image"
  "secondary-article secondary-article cover-image"
  "small-article1 small-article2 small-article3";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto repeat(3, 1fr);
  gap: 2%;
  color: var(--cnn-dark-gray);
}

p {
  color: var(--cnn-light-gray);
  padding: 5%
}

.title {
  grid-area: title;
  background-color: var(--cnn-black);
  color: var(--cnn-red);
  text-align: center;
  padding: 2vh;
}

.feature-article {
  grid-area: feature-article;
  background-color: whitesmoke;
  }

.secondary-article {
  grid-area: secondary-article;
  background-color: whitesmoke;
}

.cover-image {
  grid-area: cover-image;
  background-color: whitesmoke;
}

.cover-image img {
  max-width: 100%;
}

.small-article1 {
  grid-area: small-article1;
  background-color: whitesmoke;
}

.small-article2 {
  grid-area: small-article2;
  background-color: whitesmoke;
}

.small-article3 {
  grid-area: small-article3;
  background-color: whitesmoke;
}

