* {
  box-sizing: border-box;
}

#house {
  position: relative;
  width: 500px;
  height: 400px;
  background-color: #dee4e9;
  top: 200px;
  left: 200px;
  border: 1px solid #dee4e9;
  z-index: 0;
}

#house div {
  position: absolute;
}

#roof {
  width: 500px;
  height: 50px;
  border: 1px solid #7f96aa;
  background-color: #7f96aa;
}

#super-roof {
  height: 0;
  width: 0;
  border-left: 250px solid transparent;
  border-right: 250px solid transparent;
  border-top: 100px solid transparent;
  border-bottom: 100px solid #7f96aa;
  top: -200px;
}

#chimney {
  width: 100px;
  height: 100px;
  border: 5px solid#406682;
  background-color: #406682;
  top: -100px;
  left: 350px;
  z-index: -1;
}

#window-1 {
  width: 100px;
  height: 100px;
  border: 2px solid black;
  background-color: #f3d0a4;
  top: 120px;
  left: 100px;
  z-index: 1;
}

#window-2 {
  width: 100px;
  height: 100px;
  border: 2px solid black;
  background-color: #f3d0a4;
  top: 120px;
  right: 100px;
  z-index: 1;
}

#door {
  width: 100px;
  height: 100px;
  border: 2px solid black;
  background-color: #c59d7f;
  bottom: 0px;
  left: 200px;
  z-index: 1;
}

