* {
  box-sizing: border-box;
  text-align: center;
  margin: 0 auto;
  padding: .5rem;
}

table {
  color: white;
}

tr[class="read"] {
  background-image: linear-gradient(135deg, #4CAF50, #81C784);
}

tr[class="to-read"] {
  background-image: linear-gradient(135deg, #2196F3, #64B5F6);
}

tr[class="in-progress"] {
  background-image: linear-gradient(135deg, #FF9800, #FFB74D);
}

span {
  display: inline-block;
}

tr[class="read"] span[class="status"] {
  border: 1px solid white;
  background-image: linear-gradient(135deg, #E8F5E9, #C8E6C9);
  color: black;
}

tr[class="to-read"] span[class="status"] {
  border: 1px solid white;
  background-image: linear-gradient(135deg, #E3F2FD, #BBDEFB);
  color: black;
}

tr[class="in-progress"] span[class="status"] {
  border: 1px solid white;
  background-image: linear-gradient(135deg, #FFF3E0, #FFE0B2);
  color: black;
}

span[class="status"], span[class^="rate"] {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75%;
  width: 75%;
  border-radius: 15%;
  margin: 2vh auto;
  padding: 1rem;
}

span[class^="rate"] > span {
  border: 1px solid white;
  border-radius: 50%;
  margin: 5%;
  min-height: 15px;
  min-width: 15px;
  height: 30vh;
  width: 15vw;
  max-height: 1rem;
  max-width: 1rem;
  background-color: #f5f5f5;
}

span[class~="one"] :first-child {
  background-image: linear-gradient(135deg, #2196F3, #1976D2);

}

span[class~="two"] :nth-child(1), span[class~="two"] :nth-child(2) {
  background-image: linear-gradient(135deg, #2196F3, #1976D2);
}

span[class~="three"] span {
  background-image: linear-gradient(135deg, #2196F3, #1976D2);
}

